*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat';
}
html, body{
    background-color:#faf9fc;
    height:100%;

}
div.clear{
    clear:both;
}
div.sidebar{
    width: 200px;
    height:100%;
    background-color:#203035;
    float:left;
}
div.topo{
    background-color:#26282d;
    text-align:center;
    padding:20px 2%;
    color:#fff;
}
div.topo h5{
    color:#fff;
    position:relative;
    top:-15px;
    left:80px;
    font-size: 18px;
    padding:3px 5px;
    border-radius: 50%;
    display: none;
    cursor:pointer;
}
div.menu{
    padding:30px;
}
div.menu ul{
    list-style-type:none;
}
div.menu li{
margin-bottom:20px; 
color:#717171;
font-size: 20px;
}
div.menu li > i{
    margin-right:10px;
    
}

div.menu ul li a{
    color:#717171;
    text-decoration: none;
    font-size:18px;
    
}
div.menu li:hover i{
    color:#8329a3;
    transition:0.6s;
}
div.menu li:hover a{
    color:#fff;
    transition:0.6s;
}
/* ====== */
div.main-content{
    float:left;
    width:calc(100% - 200px);
    height:100%;
   
}
header{
    background-color:#fff;
    border-bottom:1px solid #ccc;
    width:100%;
    height: 90px;
    
}

.colecionador{
    font-size: 13px;
    text-transform:uppercase;
    text-align:center;
    margin-top:10px;

}
.colecionador h3{
    display:none;
}
.colecionador p{
    display:inline-block;
    margin-left:20px;
    color:#666;
}
.colecionador .span{
    position:relative;
    top:10px;
    left:8px;
    width:1px;
    height:25px;
    margin: 0 5px;
    background-color:#ccc;
    transform:rotate(20deg);
    display:inline-block;
}
.pesquisa-campo{
    padding: 10px;
    text-align: right;
    

}

.icone-pesquisa{
    padding:7px 9px;
    background-color: #d6d6d6;
    margin-left:10px;
    border-radius: 2px;
    display: inline-block;
    cursor:pointer;

}
.icone-pesquisa:nth-of-type(2){
    color:#ab2626;
    background-color:#f2a2a2;
    position: relative;
}
.icone-pesquisa span{
    position:absolute;
    top: -7px;
    right:-5px;
    background-color:#ab2626;
    color:#fff;
    font-size:12px;
    padding:0 5px;
    border-radius:2px;
}
.pesquisa-campo form{
    padding-left: 5px;
    display: inline-block;
    
    

}
.box1{
    margin-left:2%;
}

.pesquisa-campo input[type=text]{
    width:150px;
    height:25px;
    border:1px solid #ccc;
    padding-left:8px;
    border-radius:3px;
    outline:#ccc;
    
}
.content1{
    float:left;
    width:75%;
    padding:30px;
    overflow-y: auto;
    height:calc(100% - 90px);
}
.panel{
    float:left;
    width:100%;
    border:2px solid #ebebeb;
    background-color:#fff;
    padding:30px;
    margin:10px 0;
    
    
}
.panel h2{
    color:#7f7f7f;
    font-size:20px;
    font-weight:normal;
    text-transform:uppercase;
}
.panel p{
    color:#b2b2b2;
    font-size:16px;
    margin-top:10px;
}
.w-100 button{
    text-transform:uppercase;
    font-size:10px;
    padding:5px 7px;
    border:0;
    margin:7px;
    border-radius:10px;
}
.w-100 a{
    text-decoration:none;
    color:#b2b2b2;
}
.w-50{
    width:49%;
    float:left;
    
}

.w-50 h3{
    color:#7f7f7f;
    text-transform:uppercase;
    font-size:17px;
    margin-bottom:20px;
}
.w-50 input{
    width:100%;
    height:40px;
    margin:10px 0;
    padding-left:7px;
    outline:none;
}
.w-50 textarea{
    width:100%;
    height:150px;
    margin-top:20px;
    padding:7px;
    resize: none;
}
.w-50 p{
    font-size:13px;
    font-weight:normal;
    line-height:20px;
    
    
}

.separar:nth-of-type(1){
    margin-bottom:45px;
    
}
.w-50 .separar button{
    width:70%;
    height:35px;
    background-color:#b2b2b2;
    border:none;
    border-radius:25px;
    margin:30px 0;
}
.w-50 .separar a{
    text-decoration:none;
    color:#fff;
    text-transform:uppercase;
    font-size:13px;
   
}
.ultimas-atividades{
    background-color:#ebebeb;
    width:25%;
    float:left;
    height:calc(100% - 90px);
    overflow-y:auto;
    padding:20px;

}
.atividades-topo{
  padding:30px 0;
  border-bottom:1px solid #ccc;
}
.atividades-topo h2{
    color:#7f7f7f;
    font-size:19px;
    font-weight:normal;

}
.atividades-registro{
    padding:15px 15px 15px;
    border-left:1px solid #bbb;
    position:relative;
}
.circle-atividades{
    position:absolute;
    top:-18px;
    left:-10px;
    width:20px;
    height:20px;
    border:1px solid #bbb;
    border-radius:50%;
    background-color:#ebebeb;

}
.atividades-registro h2{
    color:#7f7f7f;
    font-size:18px;
    font-weight:normal;
}
.atividades-registro p{
    font-size:14px;
    color:#b2b2b2;
}
.atividades-registro a{
    color:#b2b2b2;
}

@media screen and (max-width:900px){
     .w-100 button{width:100%;
    }}

@media screen and (max-width:768px){
    div.main-content{
        width:100%;
        position:absolute;
        left:0;
        top:0;   
    }
    .sidebar{
        display:none;
        position: relative;
        z-index:9999;
       
    }
    div.topo h5{
        display:inline-block;
    }
    .colecionador h3{
        position:absolute;
        top:5px;
        left:1;
        font-size:25px;
        color:#666;
        cursor:pointer;
        display:block;
    }
    .box1{
        margin-left:0;
    }
    .w-50{
        width:100%;
    }
    .ultimas-atividades{
        display:none;
    }
    .content1{
        width:100%;
    }
    

}
@media screen and (max-width:500px){
    .colecionador .span{display:none;}
}